@model Pui_Madalina_Proiect.Models.CollectionViewModels.CorporationIndexData
@{
    ViewData["Title"] = "Corporations";
}
<h2>Corporations</h2>
<p>
    <a asp-action="Create">Add New Corporation</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Corporation Name</th>
            <th>Adress</th>
            <th>Games</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Corporations)
        {
            string selectedRow = "";
            if (item.ID == (int?)ViewData["CorporationID"])
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.DisplayFor(modelItem => item.CorporationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adress)
                </td>
                <td>
                    @{
                        foreach (var book in item.PublishedGames)
                        {
                            @book.Game.ID @: @book.Game.Title <br />
                        }
                    }
                </td>
                <td>
                    <a asp-action="Index" asp-route-id="@item.ID">Select</a> |
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.Games != null)
{
    <h3>Games Published by Selected Corporation</h3>
    <table class="table">
        <tr>
            <th></th>
            <th>Title</th>
            <th>Genre</th>
            <th>Price</th>
        </tr>
        @foreach (var item in Model.Games)
        {
            string selectedRow = "";
            if (item.ID == (int?)ViewData["GameID"])
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.ActionLink("Select", "Index", new { gameID = item.ID })
                </td>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Genre
                </td>
                <td>
                    @item.Price
                </td>
            </tr>
        }
    </table>
}

@if (Model.Orders != null)
{
    <h3>
        Customers that have ordered the Selected Game
    </h3>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Order Date</th>
        </tr>
        @foreach (var item in Model.Orders)
        {
            <tr>
                <td>
                    @item.Customer.Name
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
            </tr>
        }
    </table>
}